<br><br><br><br>

<!-- <div class="container"> -->
<div class="row">
    <div class="col-md-2" style="background-color:beige">



        <div class="list-group list-group-flush" style="width:207px">
            <a href="#" class="list-group-item active waves-effect">
                <i class="fas fa-chart-pie mr-3"></i>Dashboard
            </a>
            <a [routerLink]="['/admin/achieve_post']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Achievemens_Post</a>
            <a [routerLink]="['/admin/accinfo_post']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-table mr-3"></i>AccInfo</a>
            <a [routerLink]="['/admin/users_list']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-map mr-3"></i>Users</a>
            <a [routerLink]="['/admin/todayspecial_post']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-bill-alt mr-3"></i>todayspecial_post</a>
            <a [routerLink]="['/admin/balance_update']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-bill-alt mr-3"></i>balance_update</a>
            <a [routerLink]="['/admin/problems_list']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-bill-alt mr-3"></i>problems_list</a>
            <a [routerLink]="['/admin/accsheet']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-bill-alt mr-3"></i>Acc_Sheet</a>

        </div>



    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- </div> -->