<!-- <nav class="navbar navbar-expand-lg navbar-dark indigo fixed-top">
    <a class="navbar-brand" href="#">
      
        <img src="../../app/../assets/hho_logo.jpeg" class="rounded float-left" height="30" class="d-inline-block align-top" alt="hho logo"> &nbsp;

    </a>
    <a class="navbar-brand" href="#">Helping Hands Organization</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus">About HHO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/achievements">Achievements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/post">POST</a>
            </li>
        </ul>

    </div>
    <a *ngIf="!usersService.loggedIn()" class="nav-link" routerLink="/login">Sign In</a>
    <a *ngIf="!usersService.loggedIn()" class="nav-link" routerLink="/register">Sign Up</a>
    <input *ngIf="usersService.loggedIn()" type="button" (click)="onLogout()" value="Logout" />

</nav> -->








<!-- <div class="gallery">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
            <li data-target="#demo" data-slide-to="6"></li>
            <li data-target="#demo" data-slide-to="7"></li>
            <li data-target="#demo" data-slide-to="8"></li>
            <li data-target="#demo" data-slide-to="9"></li>
            <li data-target="#demo" data-slide-to="10"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/slider/1.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/2.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/3.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/4.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/5.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/6.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/7.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/8.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/9.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/10.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/11.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<br>
<p class="text-center">
    <button mat-raised-button color="warn">Full Website will be updated soon...</button>
</p> -->














<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <!-- <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank"> -->
        <!-- <img src="../../app/../assets/hho_logo.jpeg" class="rounded float-left" height="30" class="d-inline-block align-top" alt="hho logo"> -->
        <h6 class="navbar-brand" style="color:white">
            <img src="../../app/../assets/hho_logo.jpeg" class="rounded float-left" height="30" class="d-inline-block align-top" alt="hho logo"> Helping Hands Organization
        </h6>
        <!-- </a> -->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home
              <span class="sr-only">(current)</span>
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/team']" routerLinkActive="router-link-active" target="">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/events']" routerLinkActive="router-link-active" target="">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gallery']" routerLinkActive="router-link-active" target="">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aboutus']" routerLinkActive="router-link-active" target="">About HHO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contactus']" routerLinkActive="router-link-active" target="">Cntactus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/faqs']" routerLinkActive="router-link-active" target="">FAQs</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.facebook.com/hhorkv/" class="nav-link" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/hhorkv" class="nav-link" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <div class=" nav-link border border-light rounded" *ngIf="!usersService.loggedIn()">

                        <a [routerLink]="['/login']" routerLinkActive="router-link-active" style="color:white">
                            <!-- <i class="fab fa-github mr-2"></i> -->
                            Signin
                        </a>
                        <a [routerLink]="['/register']" routerLinkActive="router-link-active" style="color:white">
                            <!-- <i class="fab fa-github mr-2"></i> -->
                            /Signup
                        </a>

                    </div>
                    <div class=" nav-link border border-light rounded" *ngIf="usersService.loggedIn()">
                        <div class="dropdown">

                            <i class="fa fa-user-circle" class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      </i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" (click)="onLogout()">Logout</a>
                            </div>
                        </div>
                        <!-- <input type="button" (click)="onLogout()" value="Logout" /> -->
                    </div>




                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->


<!-- </header> -->