<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo">
                    <a href="#"> HHO RKV </a>
                </h2>
            </div>
            <div class="col-sm-2">
                <h5>Need Help..?</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a [routerLink]="['/register']" routerLinkActive="router-link-active">Sign in</a></li>
                    <li><a [routerLink]="['/post']" routerLinkActive="router-link-active">Let us know</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a [routerLink]="['/abount']" routerLinkActive="router-link-active">HHO Info</a></li>
                    <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact us</a></li>
                    <!-- <li><a href="#">Reviews</a></li> -->
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a [routerLink]="['/faqs']" routerLinkActive="router-link-active">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="https://twitter.com/hhorkv" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/hhorkv" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://plus.google.com/+HelpingHandsOrganisationRkv" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default" [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 Helping Hands Organizatiopn Rkv </p>
    </div>
</footer>