<h3 class="text-center">
    Representative's List</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Branch</th>
            <th scope="col">Designation</th>
            <th scope="col">Status</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of hrs.slice().reverse()">
            <th scope="row">1</th>
            <td>{{element.fullName}}</td>
            <td>{{element.id}}</td>
            <td>{{element.branch}}</td>
            <td>{{element.designation}}</td>
            <!-- <td>{{element.admin_verify}}</td> -->
            <td *ngIf="element.admin_verify">
                Approved
            </td>
            <td *ngIf="!element.admin_verify">
                <button type="button" class="btn btn-dark-green" (click)="onclick(element._id)">Approve</button>
            </td>






        </tr>

    </tbody>
</table>