<br><br><br><br>
<div class="container">

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

            <mat-card class="crd">
                <h3 class="text-center"> REGISTRATION </h3>
                <mat-tab-group>
                    <mat-tab label="Representative">


                        <form [formGroup]="HRForm" (ngSubmit)="onHrSubmit()">

                            <mat-form-field appearance="legacy" class="example">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="fullname" [ngClass]="{'is-invalid':hrSubmitted && f.fullname.errors}" required>
                                <mat-icon matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field>
                                <input matInput #input maxlength="7" placeholder="ID No" formControlName="id" [ngClass]="{'is-invalid':hrSubmitted && f.id.errors}" required>
                                <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
                            </mat-form-field>
                            <!-- email -->
                            <mat-form-field class="example">
                                <input matInput placeholder="Email ID" formControlName="email" [ngClass]="{'is-invalid':hrSubmitted && f.email.errors}" required>
                                <mat-icon matSuffix>email</mat-icon>
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                            &nbsp;
                            <!-- phone num -->
                            <mat-form-field appearance="legacy">
                                <mat-label>Phone_no</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="ph_no" [ngClass]="{'is-invalid':hrSubmitted && f.ph_no.errors}" required>
                                <mat-icon matSuffix>phone</mat-icon>
                            </mat-form-field>
                            <!-- class -->
                            <mat-form-field>
                                <input matInput #input maxlength="8" placeholder="Class" formControlName="class" [ngClass]="{'is-invalid':hrSubmitted && f.class.errors}" required>
                                <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                            </mat-form-field>
                            &nbsp;
                            <!-- branch -->
                            <mat-form-field>
                                <mat-select placeholder="Select Branch" formControlName="branch" [ngClass]="{'is-invalid':hrSubmitted && f.branch.errors}" required>
                                    <mat-option *ngFor="let branch of branchs" [value]="branch.value">
                                        {{branch.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            &nbsp;
                            <!-- designation -->
                            <mat-form-field>
                                <mat-select placeholder="Designation" formControlName="designation" [ngClass]="{'is-invalid':hrSubmitted && f.designation.errors}" required>
                                    <mat-option *ngFor="let designation of desig" [value]="designation.value">
                                        {{designation.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp;
                            <!-- date of joing -->
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Date Of Joining" formControlName="date_of_joining" [ngClass]="{'is-invalid':hrSubmitted && f.date_of_joining.errors}" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <!-- moto of joinging -->
                            <mat-form-field class="example-container">
                                <textarea matInput placeholder="Moto of joinging" formControlName="moto_of_joining" [ngClass]="{'is-invalid':hrSubmitted && f.moto_of_joining.errors}" required></textarea>
                            </mat-form-field>
                            <!-- pswd -->
                            <mat-form-field>
                                <input matInput placeholder=" password" [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{'is-invalid':hrSubmitted && f.password.errors}" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            &nbsp;
                            <!-- cpswd -->
                            <mat-form-field>
                                <input matInput placeholder="conform password" [type]="hide ? 'password' : 'text'" formControlName="c_password" [ngClass]="{'is-invalid':hrSubmitted && f.c_password.errors}" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>

                            <p class="text-center">
                                <button mat-flat-button color="primary">Register</button>
                            </p>

                        </form>








                    </mat-tab>

                    <mat-tab label="Student ">

                        <form [formGroup]="StuForm" (ngSubmit)="onStuSubmit()">

                            <mat-form-field appearance="legacy" class="example">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="fullname" [ngClass]="{'is-invalid':StuSubmitted && f.fullname.errors}" required>
                                <mat-icon matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field>
                                <input matInput #input maxlength="7" placeholder="ID No" formControlName="id" [ngClass]="{'is-invalid':StuSubmitted && f.id.errors}" required>
                                <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
                            </mat-form-field>
                            <!-- email -->
                            <mat-form-field class="example">
                                <input matInput placeholder="Email ID" formControlName="email" [ngClass]="{'is-invalid':StuSubmitted && f.email.errors}" required>
                                <mat-icon matSuffix>email</mat-icon>
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                            &nbsp;
                            <!-- phone num -->
                            <mat-form-field appearance="legacy">
                                <mat-label>Phone_no</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="ph_no" [ngClass]="{'is-invalid':StuSubmitted && f.ph_no.errors}" required>
                                <mat-icon matSuffix>phone</mat-icon>
                            </mat-form-field>
                            <!-- class -->
                            <mat-form-field>
                                <input matInput #input maxlength="8" placeholder="Class" formControlName="class" [ngClass]="{'is-invalid':StuSubmitted && f.class.errors}" required>
                                <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                            </mat-form-field>
                            &nbsp;
                            <!-- branch -->
                            <mat-form-field>
                                <mat-select placeholder="Select Branch" formControlName="branch" [ngClass]="{'is-invalid':StuSubmitted && f.branch.errors}" required>
                                    <mat-option *ngFor="let branch of branchs" [value]="branch.value">
                                        {{branch.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            &nbsp;



                            <!-- pswd -->
                            <mat-form-field>
                                <input matInput placeholder=" password" [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{'is-invalid':StuSubmitted && f.password.errors}" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            &nbsp;
                            <!-- cpswd -->
                            <mat-form-field>
                                <input matInput placeholder="conform password" [type]="hide ? 'password' : 'text'" formControlName="c_password" [ngClass]="{'is-invalid':StuSubmitted && f.c_password.errors}" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>

                            <p class="text-center">
                                <button mat-flat-button color="primary">Register</button>
                            </p>

                        </form>


                    </mat-tab>





                    <mat-tab label="Others">


                        <form [formGroup]="OtherForm" (ngSubmit)="onOtherSubmit()">

                            <mat-form-field appearance="legacy" class="example">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="fullname" [ngClass]="{'is-invalid':OtherSubmitted && f.fullname.errors}" required>
                                <mat-icon matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field>
                                <input matInput #input maxlength="7" placeholder="ID No" formControlName="id" [ngClass]="{'is-invalid':OtherSubmitted && f.id.errors}" required>
                                <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
                            </mat-form-field>
                            <!-- email -->
                            <mat-form-field class="example">
                                <input matInput placeholder="Email ID" formControlName="email" [ngClass]="{'is-invalid':OtherSubmitted && f.email.errors}" required>
                                <mat-icon matSuffix>email</mat-icon>
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                            &nbsp;
                            <!-- phone num -->
                            <mat-form-field appearance="legacy">
                                <mat-label>Phone_no</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="ph_no" [ngClass]="{'is-invalid':OtherSubmitted && f.ph_no.errors}" required>
                                <mat-icon matSuffix>phone</mat-icon>
                            </mat-form-field>

                            &nbsp;



                            <!-- pswd -->
                            <mat-form-field>
                                <input matInput placeholder=" password" [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{'is-invalid':OtherSubmitted && f.password.errors}" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            &nbsp;
                            <!-- cpswd -->
                            <mat-form-field>
                                <input matInput placeholder="conform password" [type]="hide ? 'password' : 'text'" formControlName="c_password" [ngClass]="{'is-invalid':OtherSubmitted && f.c_password.errors}" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>

                            <p class="text-center">
                                <button mat-flat-button color="primary">Register</button>
                            </p>

                        </form>

                    </mat-tab>
                </mat-tab-group>
            </mat-card>


        </div>
    </div>
</div>