<br><br><br><br><br>

<form [formGroup]="accinfoForm" (ngSubmit)="accinfo_post()">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" [ngClass]="{'is-invalid': submitted && f.date.errors}" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
        <input matInput placeholder="batch" formControlName="batch" [ngClass]="{'is-invalid': submitted && f.batch.errors}" required>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
        <input matInput placeholder="branch" formControlName="branch" [ngClass]="{'is-invalid': submitted && f.branch.errors}" required>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
        <input matInput placeholder="class" formControlName="class" [ngClass]="{'is-invalid': submitted && f.class.errors}" required>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
        <input matInput placeholder="purpose" formControlName="purpose" [ngClass]="{'is-invalid': submitted && f.purpose.errors}" required>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
        <input matInput placeholder="collected amount" formControlName="collected_amount" [ngClass]="{'is-invalid': submitted && f.collected_amount.errors}" required>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary">Submit</button>
</form>