<div class="container">

    <div class="row align-items-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <mat-card class="crd">
                <h3 class="text-center">Today's Special Post</h3>
                <form [formGroup]="specialform" (ngSubmit)="onpost()">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Today Special" formControlName="name" [ngClass]="{'is-invalid': submitted && f.name.errors}">
                    </mat-form-field>

                    <br>

                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" [ngClass]="{'is-invalid': submitted && f.date.errors}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Description" formControlName="description" [ngClass]="{'is-invalid': submitted && f.description.errors}"></textarea>
                    </mat-form-field>

                    <p class="text-center">
                        <button mat-stroked-button color="primary">Post</button>
                    </p>
                </form>
            </mat-card>

        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>