.example-card {
    /* max-width: 400px; */
    max-width: 362px;
    max-height: 363px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}