<!-- <p *ngFor="let a of achieve">
    <img [src]="{{achieve[1].imageUrl}}" height="100px" width="100px">
</p> -->

<!-- <ul>
    <li *ngFor="let element of achieve">

        <mat-card class="example-card">
            <img mat-card-image src="{{element.imageUrl}}" alt="loading" width="300px" height="300px">
        </mat-card> -->
<!-- <img src="{{element.imageUrl}}" height="100px" width="100px">
        <img src="{{element.imageUrl}}" height="100px" width="100px">
        <img src="{{element.imageUrl}}" height="100px" width="100px">
        <img src="{{element.imageUrl}}" height="100px" width="100px">
        <img src="{{element.imageUrl}}" height="100px" width="100px">
        <img src="{{element.imageUrl}}" height="100px" width="100px"> -->
<!-- </li>
</ul> -->
<br><br><br>
<h3 class="text-center">Achievements</h3>
<div class="container" style="margin-left: ;">
    <div class="row">
        <div class="col-md-3" *ngFor="let element of achieve.slice().reverse()">
            <mat-card class="example-card">
                <img mat-card-image src="{{element.imageUrl}}" alt="Photo of a Shiba Inu" width="362px" height="262px">
                <mat-card-content>
                    Name:{{element.name}} <br> problem:{{element.problem}} <br>
                </mat-card-content>
            </mat-card>
            <br>

        </div>
    </div>
</div>





<!-- <mat-card class="example-card">
    <mat-card-header>                                                                                                                                              
        <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="{{element.imageUrl}}" alt="Photo of a Shiba Inu" width="300px" height="300px">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
</mat-card> -->