.centerr {
    margin: auto;
    width: 50%;
    align-content: center;
    /* value of your choice which suits your alignment */
}

.example-small-box,
.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-full-width {
    width: 80%;
}

.example-ful-width {
    width: 40%;
}

.example-large-box {
    height: 600px;
    width: 700px;
}

h3 {
    margin: auto;
    padding-left: 200px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}