<!-- Purple Header -->
<div class="edge-header " style="background-image: url('../../assets/images/hho_logo.jpeg')"></div>



<!-- Main Container -->
<div class="container free-bird">
    <div class="row">
        <div class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2">

            <!--Naked Form-->
            <div class="card-body">
                <h2 class="h2-responsive"><strong>Problem posting</strong></h2>
                <p class="pb-4">Problem posting</p>

                <!--Body-->
                <form [formGroup]="problemForm" (ngSubmit)="onpost()">

                    <h5 class="h5-responsive">Victim Name</h5>
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="form2" formControlName="Victim_Name" [ngClass]="{'is-invalid': submitted && f.Victim_Name.errors}" required>
                        <label for="form2"></label>
                    </div>

                    <h5 class="h5-responsive">University ID No</h5>
                    <div class="md-form">
                        <i class="fa fa-id-badge prefix"></i>
                        <input type="text" id="form2" class="form-control" formControlName="id_no" [ngClass]="{'is-invalid': submitted && f.id_no.errors}" required>
                        <label for="form2"></label>
                    </div>

                    <h5 class="h5-responsive">Email ID</h5>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="form2" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}" required>
                        <label for="form2"></label>
                    </div>

                    <h5 class="h5-responsive">Phone No</h5>
                    <div class="md-form">
                        <i class="fa fa-phone prefix"></i>
                        <input type="text" id="form2" class="form-control" formControlName="ph_no" [ngClass]="{'is-invalid': submitted && f.ph_no.errors}" required>
                        <label for="form2"></label>
                    </div>

                    <h5 class="h5-responsive">Branch & classs</h5>
                    <div class="md-form">
                        <mat-form-field>
                            <mat-select placeholder="Select Branch" formControlName="branch" [ngClass]="{'is-invalid': submitted && f.branch.errors}" required>
                                <mat-option *ngFor="let branch of branchs" [value]="branch.value">
                                    {{branch.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;
                        <!-- <h5 class="h5-responsive">Branch</h5> -->
                        <mat-form-field>
                            <input matInput #input maxlength="8" placeholder="Class(eg.AB1G001)" formControlName="class" [ngClass]="{'is-invalid': submitted && f.class.errors}" required>
                            <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                        </mat-form-field>
                    </div>

                    <h5 class="h5-responsive">Problem</h5>
                    <div class="md-form">
                        <i class="fa fa-plus-square prefix"></i>
                        <input type="text" id="form2" class="form-control" formControlName="problem" [ngClass]="{'is-invalid': submitted && f.problem.errors}" required>
                        <label for="form2"></label>
                    </div>
                    <!--Textarea with icon-->
                    <h5 class="h5-responsive">Problem Description</h5>
                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea type="text" id="form7" class="md-textarea form-control" rows="2" formControlName="problem_description" [ngClass]="{'is-invalid': submitted && f.problem_description.errors}" required></textarea>
                        <label for="form7"></label>
                    </div>

                    <h5 class="h5-responsive">Required Amount</h5>
                    <div class="md-form">
                        <i class=" attach_money prefix"></i>
                        <input type="text" id="form2" class="form-control" formControlName="required_amount" [ngClass]="{'is-invalid': submitted && f.required_amount.errors}" required>
                        <label for="form2"></label>
                    </div>

                    <h5 class="h5-responsive">Upload Supported Documents</h5>
                    <p>(if more than one file compress file to any forment then upload )</p>
                    <div class="md-form">
                        <label for="singleFile"></label>
                        <!-- <input id="singleFile" type="file" formControlName="doc_path" [ngClass]="{'is-invalid': submitted && f.doc_path.errors}" required /> -->
                        <input type="file" (change)="upload($event)" accept=".png,.jpg" /> </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                        File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>


                        <!-- <div class="md-form">
                            <input type="text" class="form-control" formControlName="doc_path" [ngClass]="{'is-invalid': submitted && f.doc_path.errors}" value="{{downloadSrc}}" required>
                        </div> -->


                    </div>
                    <!-- <input type="text" class="form-control" value="cool" formControlName="doc_path" [ngClass]="{'is-invalid': submitted && f.doc_path.errors}" required /> -->


                    <div class="text-xs-left">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>



            </div>
            <!--Naked Form-->

        </div>
    </div>
</div>
<!-- /.Main Container -->