<br><br><br><br><br>
<div class="text-center">
    <img src="../../app/../assets/hho_logo.jpeg" class="rounded mx-auto d-block hoverable" alt="hho_logo" height="128px" width="128px">
</div>
<br>
<p class="text-center font-weight-bold">About HHO</p>








<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p style="text-align:left"><strong>Vision</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p style="color:#f60206;font-size:18px;text-align:center"> <br/> <strong>"Someone cannot Help Everyone,</strong><br/> <strong>But everyone can Help Someone."</strong> </p>
        <p style="text-align:center">We the HHO strive to bring unity within the students of RKV and try to overcome the problems faced. We mainly concentrate with the problems of physically disabled, orphans, aged ones and students in emergencies. <br/></p>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p style="text-align:left"><strong>ADVISORY PANEL</strong></p>

            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align:center">It is totally organized by students of RKV. The role of chairperson acts by the Director in-charge of our university.</p>
        <p style="text-align:center">It is totally organized by students of RKV. The role of chairperson acts by the Director in-charge of our university.</p>

        <!-- /wp:paragraph -->
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"align":"center"} -->
        <!-- wp:paragraph {"align":"center"} -->

        <p style="text-align:center">A pair of students come up from each class as representatives. They bring out the problems faced by the students to our knowledge. They collect the money and different funds in time. All the representatives come to gather with a discussion and
            reasonably help them with the treasured funds.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p style="text-align:left"><strong>RULES AND REGULATIONS</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1. The victim should belong to RK Valley.</p>


        <p>2. Any problem raised is manually verified, either personally or with any documentation.</p>


        <p>3. Observing the victims financial status and comparing our financial status, an appropriate amount is donated.</p>


        <p>4. When we face multiple problems, based on the time and severity of problem, the amount to be donated is priored.</p>


        <p>5.Amount will be given to the needy victim based on the majority HR's opinion.<br/></p>


        <p>6. Every expenditure is documented</p>


        <p>For exit case of any solved health issue, we preserve all the paid bills and Exchequer details spent.</p>


        <p>7. Any transaction from organization to the victim is done in the form of Exchequer or transferred to their account.</p>


        <p>8. The amount preserved is only used for organization purposes. No personal expenditures are allowed.</p>


        <p>9. A regular meeting is to be held on the every second Sunday of a month. In any emergencies, a temporary meeting can be called.</p>

        <p>10. Any spontaneous decisions can be taken with the severity in the health issue with every HR'S opinion in their discussion.</p>


        <p>11. Any modifications done within the organization it should be done in presence of every HR.</p>


        <p>In case of any absence of HRs, it is modified under the supervision of available HHO members.</p>


        <p>12. Individual groups within students is not entertained. Any issue raised, it should be brought into the notice of HRS of the particular class.</p>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p><strong>INITIATIVE DOCUMENTATION</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align:center">Before going onto a discussion of any arose problem, we go through verification of documents like</p>
        <p>->If any health issue, the medical reports from a referred doctor are to be submitted.</p>
        <p>->If the victim is of any natural calamity, the basic and unique identities like Aadhar and ration card are to be submitted.</p>
        <p>->For any problem, all the income sources are verified keenly.</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p><strong>WAY OF SOLVING ANY PROBLEM</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align: center;">If any problems arises, it is intimated to the class HR by the student. The problem is taken to the executive and core representatives of HHO. The initiative documentation is verified among them, and finally a discussion is called.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"align":"left"} -->
        <p style="text-align: left;"><strong>In the discussion....</strong></p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"align":"center"} -->
        <p style="text-align: center;">The financial status of the victim is observed and we compare our financial status in HHO account. Having a discussion within the HHO members, we come up with an appropriate help to the victim.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"align":"center"} -->
        <p style="text-align: center;">We personally meet the victims and their family members to have a detail structure of their living. We in personal give away the money in form of cheque to the victim. No just the monitory help but we whole unitedly withstand and support in every
            aspect to come out of the problem by providing many other solutions too.</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p><strong>FUNDS RAISED</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- wp:paragraph {"align":"center"} -->
        <p style="text-align: center;">To overcome any problem, our organization get a full-fledged support from the students, the lecturers, mentors and other faculty members. We are also supported by the security groups and many other non-teaching staffs.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>*Competitions like essay writing, quizzes etc., fun games are organized in the events held out university as an income source.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>*Funds from Alumnus.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>*Each and every student contribute maximum ₹10/- per month.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>* From donation boxes.</p>
        <!-- /wp:paragraph -->

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p><strong>PROMOTING</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- wp:paragraph -->
        <p>-&gt;An HRS promote about the organization in their respective classes.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>-&gt; Events are organized.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>→ every update is displayed in the form notices.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>→ A website is launched “https//:hhorkv.in” with different services.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>→ The social media FB, Twitter and whatsoever used to promote share our achievements, and to pass the information within the group.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>→ Quotations, Drawings, Short film and any other art works are encouraged to promote HHO.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>→ Articles are also published in regional newspapers.</p>
        <!-- /wp:paragraph -->
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p><strong>INCITERS</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align: center;">We are mainly encouraged by the students, the administration dept. and both teaching and non-teaching staffs in RKV.<br />We are very thankful for the above mentioned for always being the kith and kin in every aspect. We are grateful for all the
            encouragement and support.</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p><strong>SPECIAL CASES</strong></p>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- wp:paragraph -->
        <p>1. When we have sufficient amount, we are enthusiastic to donate to external issues.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>2. Provide basic necessities for the orphans.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>3. In case of any natural calamity, we act as a medium to them with money or any other reasonable commodities.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>&nbsp;</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>&nbsp;</p>
        <!-- /wp:paragraph -->
    </mat-expansion-panel>
</mat-accordion>