<div>

    <mat-tab-group>
        <mat-tab label="AccSheet">


            <!--Table-->
            <table class="table table-hover table-fixed">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Update_By</th>
                        <th>Purpose</th>
                        <th>amount</th>
                        <th>Total_Amount</th>

                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr *ngFor="let element of accsheet.slice().reverse()">
                        <th scope="row">4</th>
                        <td>{{element.update_by}</td>
                        <td>{{element.purpose}}</td>
                        <td>{{element.amount}}</td>
                        <td>{{element.total_amount}}</td>


                    </tr>


                </tbody>
                <!--Table body-->

            </table>
            <!--Table-->


        </mat-tab>


        <mat-tab label="Sheet_Update">
            <br>
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <mat-card class="crd">
                            <h3 class="text-center">AccSheet_Update</h3>
                            <form [formGroup]="accsheetupdate_Form" (ngSubmit)="onpost()">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Purpose" formControlName="purpose" [ngClass]="{'is-invalid': submitted && f.name.purpose}">
                                </mat-form-field>

                                <br>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Amount" formControlName="amount" [ngClass]="{'is-invalid': submitted && f.name.amount}">
                                </mat-form-field>

                                <p class="text-center">
                                    <button mat-stroked-button color="primary">Update</button>
                                </p>
                            </form>
                        </mat-card>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

            </div>
        </mat-tab>

    </mat-tab-group>


    <div>