.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}


/* .hidden {
    display: none;
} */

@media(min-width: 768px) {
    .sidenav {
        display: none;
    }
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar a {
    display: inline;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}