<!-- {{userDetails.fullname}} {{userDetails.email}} {{userDetails.}} -->
<!-- <div>
    <table>
        <tr>
            <td>fullname</td>
            <td> {{userDetails.fullName}}</td>
        </tr>
        <tr>
            <td>Id:</td>
            <td> {{userDetails.id}}</td>
        </tr>
        <tr>
            <td>email</td>
            <td> {{userDetails.email}}</td>
        </tr>
        <tr>
            <td>Ph N0</td>
            <td> {{userDetails.ph_no}}</td>
        </tr>
        <tr>
            <td>class</td>
            <td> {{userDetails.class}}</td>
        </tr>
        <tr>
            <td>branch</td>
            <td> {{userDetails.branch}}</td>
        </tr>
        <tr>
            <td>Designation</td>
            <td> {{userDetails.designation}}</td>
        </tr>
        <tr>
            <td>Date_of_joining</td>

            <td></td>
            <td> {{userDetails.date_of_joining}}</td>
        </tr>
    </table>
</div>
{{userDetails.otp}} {{accinfo.date}} -->


<!-- <input type="button" (click)="onLogout()" value="Logout" /> -->

<!-- <h2 style="text-align:center">User Profile Card</h2> -->
<br><br>
<!-- <div class="card">
    <img src="../../../assets/images/hho_logo.jpeg" alt="John">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> &nbsp;&nbsp;&nbsp;
        <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;
        <a href="#"><i class="fa fa-linkedin"></i></a> &nbsp;&nbsp;&nbsp;
        <a href="#"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;&nbsp;
    </div>
    <p><button>Contact</button></p>
</div> -->


<div class="container">

    <div class="row align-items-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">

            <div class="profile-card">
                <div class="profile-cover">

                    <div class="profile-avatar">

                        <a href="#"><img src="../../../assets/images/hho_logo.jpeg" alt="Anis M" /></a>
                    </div>
                    <div class="profile-details">
                        <h1>{{userDetails.fullName}}</h1>
                        <h6>{{userDetails.designation}}</h6>
                    </div>
                </div>


                <div class="profile-content">
                    <ul>
                        <li>
                            <div class="digits">Id: {{userDetails.id}}</div>

                        </li>
                        <!-- <li>
                    <div class="digits">ID:{{userDetails.id}}</div>
    
                </li> -->
                        <li>
                            <div class="digits">Class::{{userDetails.class}}</div>

                        </li>
                        <li>
                            <div class="digits">PH no::{{userDetails.ph_no}}</div>

                        </li>
                        <li>
                            <div class="digits">Branch::{{userDetails.branch}}</div>

                        </li>
                        <li>
                            <div class="digits">Date_of_joining::{{userDetails.date_of_joining}}</div>

                        </li>


                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>