<div style="background-color">
    <br><br><br>


    <div class="container demo">

        <h2>FAQ's</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading " class="faq-border" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less glyphicon glyphicon-plus"></i> 1.How can we approach to donate ?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        We are glad for you to approach us. You can donate through the online medium. You can find our Organization Account details on the website. If you are willing to donate directly can reach our Campus. We heartily welcome you.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="more-less glyphicon glyphicon-plus"></i> 2.How do I ensure that my donation for the HHO is utilized properly?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        We maintain each and every transaction (either online or offline (by hand) ) clear and transparent. All the fund collections and donations are documented every now and then. If you donate for a particular need or problem, we show the problem-related details.
                        Or if you donate on a good purpose we will use it for the next need.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>3. Can I meet the person who does I help?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Yes, You can. If you help to a particular person we will guide you.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>4.How can I know the progress of the students who are being helped?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        After donation, we will track the status of a concerned person either if it is a health issue or any need and intimate you the same if you contact us.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>5.Does HHO allow online payments?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        Yes. Whereas the donor should donate directly to the Helping Hands Organization Bank Account (details are available in Website:hhorkv.org). And can also donate through the website by available donate option.

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>6.What kind of Organization is HHO?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        Helping Hands Organization is a Non- Profit Organization. It works for the needy in IIIT-RKValley, RGUKT-AP. It is completely run by the Students of IIIT-RK Valley.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>7.How does HHO finds that a student need help?
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        As the HHO is within our Campus, we have HRs' from each and every class/branch/Batch. (from P1- E4).The information reaches HHO through the proper channel. If any problems arise, it is intimated to the class HR by the student(maybe the victim or others).
                        The problem is taken to the executive and core representatives of HHO. The initiative documentation is verified among them, and finally, a discussion is called </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>8.Where does HHO get Funds?
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        Students of our campus (IIIT-RKValley) are the main source to get Funds. Every month we collect funds from them. We are also supported by the Staff (Teaching and non-teaching).
                        <br> *We organize FundraisingEvents where competitions like essay writing, quizzes etc., and fun games are organized in the events held at university as an income source. <br> *Funds from Alumnus.<br> *Each and every student contribute
                        maximum ₹10/- per month.<br> * From donation boxes. Have you ever helped any problem outside the campus? Yes, we helped a few problems considering the factors like -problem/need severity, victim's capability, their income resources
                        and principally the fund we have in HHO at that time.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" class="faq-border" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>9.Have you ever helped any problem outside the campus?
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                        Yes, we helped a few problems considering the factors like -problem/need severity, victim's capability, their income resources and principally the fund we have in HHO at that time.
                    </div>
                </div>
            </div>

        </div>
        <!-- panel-group -->


    </div>
</div>
<!-- container -->