<div class="container">

    <div class="row align-items-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <mat-card class="crd">
                <h3 class="text-center">Update Acc Balance</h3>
                <form [formGroup]="moneyForm" (ngSubmit)="onpost()">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter updated Amount/Money" formControlName="money" [ngClass]="{'is-invalid': submitted && f.money.erroes}" required>
                    </mat-form-field>

                    <p class="text-center">
                        <button mat-stroked-button color="primary">Update</button>
                    </p>

                </form>
            </mat-card>


        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>