.center_div {
    margin: 0 auto;
    width: 50%/* value of your choice which suits your alignment */
}

body {
    margin: 40px;
}

.tot {
    padding-left: 30%;
    /* float: center; */
}

h2 {
    text-align: center;
}

.example-large-box {
    height: 400px;
    width: 54%;
}

.short {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 200px 600%;
    background-color: rgb(194, 189, 189);
    color: #444;
}


/* .box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
  
      }
  */

.a {
    grid-column: 1 / 3;
    grid-row: 1;
}

.b {
    grid-column: 3;
    grid-row: 1 / 3;
    text-align: center;
}

.c {
    grid-column: 1;
    grid-row: 2;
}

.d {
    grid-column: 2;
    grid-row: 2;
}


/* input width */

.example-full-width {
    width: 100%;
}


/* end input width */


/*  card width */

.example-card {
    max-width: 400px;
    margin: 0 auto;
}


/* background */

.login-bg {
    background-image: url("../../../assets/images/backgrounds/1.jpg");
    background-repeat: no-repeat;
}