<br><br><br><br>


<div class="login">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 ">
                <mat-card class="example-card">
                    <h3 class="text-center">Login Form</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder=" your email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder=" your password" [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage1()}}</mat-error> -->
                        </mat-form-field>
                        <p class="text-center">
                            <button mat-flat-button color="primary">Login</button>
                        </p>
                    </form>
                </mat-card>


            </div>
            <div class="col-md-2">

            </div>
        </div>

    </div>

</div>


<!--  spinner loading -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>