<br><br><br><br><br>

<!-- <h5 align="right">Total Amount Present in ACC:: 50,000/-</h5> -->
<h5 *ngFor="let element of acc_balance.slice()" align="right">Total Amount Present in ACC:: {{element.Total_Money}}/-</h5>


<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Batch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch </th>
            <td mat-cell *matCellDef="let row"> {{row.batch}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Branch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.branch }} </td>
        </ng-container>

        <ng-container matColumnDef="Class">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.class}} </td>
        </ng-container>

        <ng-container matColumnDef="purpose">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.purpose}} </td>
        </ng-container>

        <ng-container matColumnDef="Collected_Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Collected_Amount </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.collected_amount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>