<p align="center">
    <button type="button" (click)="send_mail()" class="btn btn-blue-grey" style="background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%">
        
        Verify Your Account
        <div class="spinner-border" role="status" *ngIf="load">
                <span class="sr-only">Loading...</span>
            </div>
    </button>
</p>



<form [formGroup]="otpForm" (ngSubmit)="set_otp()">
    <div class="card bg-info" *ngIf="hide">
        <div class="card-body text-center">
            <!-- <p class="card-text">Some text inside the third card</p> -->
            <mat-form-field>
                <input matInput placeholder="Enter OTP" formControlName="entered_otp" [ngClass]="{'is-invalid': submitted && f.entered_otp.errors}" required>
            </mat-form-field>
            <button class="btn btn-info">Submit</button>
        </div>
    </div>
</form>