<h3 class="text-center">
    List Of Problems</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Victim_Name</th>
            <th scope="col">ID</th>
            <th scope="col">Ph_no</th>
            <th scope="col">Email</th>
            <th scope="col">Branch</th>
            <th scope="col">Class</th>
            <th scope="col">Problem</th>
            <th scope="col">Problem_des</th>
            <th scope="col">Require_Amount</th>
            <th scope="col">Documents</th>
            <th scope="col">Status</th>


        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let element of problems.slice().reverse()">
            <th scope="row">1</th>
            <td>{{element.Victim_Name}}</td>
            <td>{{element.id_no}}</td>
            <td>{{element.ph_no}}</td>
            <td>{{element.email}}</td>
            <td>{{element.branch}}</td>
            <td>{{element.class}}</td>
            <td>{{element.problem}}</td>
            <td>{{element.problem_description}}</td>
            <td>{{element.required_amount}}</td>
            <td>
                <a href="{{element.doc_path}}" target="_blank">Docs</a>
            </td>
            <td>
                <td>
                    <b>{{element.status}}</b>
                    <mat-form-field>
                        <select matNativeControl required [(ngModel)]="status_update_option">
                        <!-- <option selected value=""></option> -->
                        <option value="Processing">Processing</option>
                        <option value="Verified">Verified</option>
                        <option value="Approved">Approved</option>
                        <option value="Solved">Solved</option>
                      </select>
                    </mat-form-field>
                </td>
                <td>
                    <button type="button" class="btn btn-dark-green" (click)="onclick(element._id)">Update</button>

                </td>










        </tr>

    </tbody>
</table>