<br><br>

<div class="cover">
    <div class="cover-inner">
        <header class="inner">
            <div class="twisted">
                <div class="border-line"></div>
                <h1 class="headline">updated soooon</h1>
                <div class="border-line"></div>
            </div>
            <div class="inner"></div>
            <p class="p1">Helping Hands Organization</p>
            <p class="p2"></p>
        </header>
        <div class="c">
            <p class="co">contact: <a href="mailto:hhorkv@gmail.com">hhorkv@gmail.com</a></p>
        </div>
    </div>
</div>