<br><br><br>
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" (submit)='onpost()'>
            <span class="contact100-form-title">
					Send Us A Message
				</span>

            <label class="label-input100" for="first-name">Tell us your name *</label>
            <div class="wrap-input100 rs1-wrap-input100   validate-input">
                <input id="first-name" [(ngModel)]="firstname" class="input100" type="text" name="firstname" placeholder="First name">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 rs2-wrap-input100 validate-input">
                <input class="input100" [(ngModel)]="lastname" type="text" name="last-name" placeholder="Last name">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="email">Enter your email *</label>
            <div class="wrap-input100 validate-input">
                <input id="email" class="input100" [(ngModel)]="sender_email" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">Enter phone number</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" [(ngModel)]="sender_phno" name="phone" placeholder="Eg. +1 800 000000">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">Subject</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" [(ngModel)]="sender_subject" type="text" name="phone" placeholder="Subject">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="message">Message *</label>
            <div class="wrap-input100 validate-input">
                <textarea id="message" [(ngModel)]="sender_message" class="input100" name="message" placeholder="Write us a message"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
						Send Message
					</button>
            </div>
        </form>

        <div class="contact100-more flex-col-c-m" style="background-image: url('images/bg-01.jpg');">
            <div class="text-center">
                <img src="../../app/../assets/hho_logo.jpeg" class="rounded mx-auto d-block hoverable" alt="hho_logo" height="128px" width="128px">
            </div>
            <br><br>
            <div class="flex-w size1 p-b-47">
                <br><br>
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-map-marker"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
							Address
						</span>

                    <span class="txt2">
               G-10,AB-1, IIIT R.K.Valley, RGUKT-AP, Vempalli Mdl., Kadapa Dst., Andhra Pradesh - 516330 India
              </span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-phone-handset"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
							Lets Talk
						</span>

                    <span class="txt3">
							+91 8367778043
						</span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-envelope"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
							General Support
						</span>

                    <span class="txt3">
                        <a href="mailto:hhorkv@gmail.com?Subject=Support HHO%20" target="_top">hhorkv@gmail.com</a>
                        <br>
                        <a href="mailto:hho@rguktrkv.ac.in?Subject=Support HHO%20" target="_top">hho@rguktrkv.ac.in</a>
						      </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="dropDownSelect1"></div>