<br><br><br><br>
<!-- 
<h2 style="text-align:center">Our Team</h2>
<div class="tot">
    <div class="row">
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>
        <div class="card">
            <img src="../../assets/hho_logo.jpeg" class="img-circle" alt="John" style="width:100%">

            <p><button>ASDFGHJKL</button></p>
            <p class="title">abcdrfghi@gmail.com<br>9876543210</p>
            <h6>Representative</h6>
        </div>


    </div>
</div> -->

<div class="container">
    <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col">
            <img class="hoverable" src="../../assets/images/team.png" style="width:100%; max-height: 500px; border-radius: 0px ">
        </div>
        <!-- <div class="col-md-1"></div> -->
    </div>
</div>