<!-- <div class="gallery">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
            <li data-target="#demo" data-slide-to="6"></li>
            <li data-target="#demo" data-slide-to="7"></li>
            <li data-target="#demo" data-slide-to="8"></li>
            <li data-target="#demo" data-slide-to="9"></li>
            <li data-target="#demo" data-slide-to="10"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/slider/1.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/2.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/3.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/4.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/5.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/6.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/7.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/8.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/9.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/10.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/slider/11.jpg" alt="HHO Rkv" class="image_slide">
                <div class="carousel-caption">
                    <h3>HHO</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<br>
<p class="text-center">
    <button mat-raised-button color="warn">Full Website will be updated soon...</button>
</p> -->


<br>
<br>
<br>


<!--Carousel Wrapper-->
<!-- <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel"> -->

<!--Indicators-->
<!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol> -->
<!--/.Indicators-->

<!--Slides-->
<!-- <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="view" src="../../assets/slider/0.jpg" height="300px" width="100%" alt="HHO Rkv" class="image_slide">
            <div class="carousel-caption">
                <h3>HHO</h3>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/slider/1.jpg" height="300px" width="100%" alt="HHO Rkv" class="age_slide">
            <div class="carousel-caption">
                <h3>HHO</h3>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/slider/2.jpg" height="300px" width="100%" alt="HHO Rkv" class="image_slide">
            <div class="carousel-caption">
                <h3>HHO</h3>
                <p></p>
            </div>
        </div>

    </div> -->
<!--/.Slides-->

<!--Controls-->
<!-- <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
<!--/.Controls-->

<!-- </div> -->
<!--/.Carousel Wrapper-->
<!-- <div class='pm-button'> -->

<!-- </div> -->
<!--start home slider -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/slider/2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/slider/02.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/slider/03.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- end of home slider -->







<!-- vision -->
<!-- <div>
    <p align="center">HHO's Vision</p>
    <p>We the HHO strive to bring unity within the students of RKV and try to overcome the problems faced. We mainly concentrate with the problems of physically disabled, orphans, aged ones and students in emergencies.</p>
</div> -->

<!-- <div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">HHO's Vision</h3>
        <p class="card-text">
        </p>
    </div>
</div> -->


<mat-card>
    <h6 class="text-center">
        <mat-card-title>HHo's vision</mat-card-title>
    </h6>
    <!-- <mat-card-content> -->
    <!-- <p class="text-center"> -->
    <p class="text-center">We the HHO strive to bring unity within the students of RKV and try to overcome the problems faced. We mainly concentrate with the problems of physically disabled, orphans, aged ones and students in emergencies.</p>
    <!-- </p> -->
    <!-- </mat-card-content> -->
</mat-card>


<!-- end of vision -->
<br>
<!-- <mat-divider></mat-divider> -->
<br>
<!-- start of today's special -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <h6> Helping Hands Theme Song </h6>

                    <audio controls>
                            <source src="../../assets/images/audio/HHO theme song.mp3" type="audio/ogg">
                            
                          </audio>
                </div>
                <div class="text-center">
                    <!-- <button mat-button [routerLink]="['/accinfo']" routerLinkActive="router-link-active">AccInfo</button>
                    <button mat-button data-toggle="modal" data-target="#modalRelatedContent">Event's Calender</button> -->
                    <button type="button" [routerLink]="['/accinfo']" routerLinkActive="router-link-active" class="btn btn-outline-primary waves-effect" style="width:110px; height:41px; padding-top: 8px">AccInfo</button>
                    <button type="button" data-toggle="modal" data-target="#modalRelatedContent" class="btn btn-outline-primary waves-effect" style="width:110px; height:41px; padding-top: 8px">Calendar</button>
                    <!-- <button mat-raised-button color="accent" [routerLink]="['/accinfo']" routerLinkActive="router-link-active">Accent</button> &nbsp;&nbsp;
                    <button mat-raised-button color="accent" data-toggle="modal" data-target="#modalRelatedContent">Accent</button> -->

                    <!-- <a class="text-center" [routerLink]="['/accinfo']" routerLinkActive="router-link-active">
                            Acc Details
                        </a> -->
                    <!-- <button type="button" class="" data-toggle="modal" data-target="#modalRelatedContent">Event's calender</button> -->
                </div>

            </div>
            <div class="col-md-6" style="overflow:">
                <!-- <div style="border:1px solid; height: 150px;">
                    <div style="height:20%; background-color:#00c06f99;">
                        <h6 class="text-center" style="color:whte">Today's special</h6>
                    </div>
                    <div *ngFor="let element of special.slice().reverse()">

                        <h4 class="text-center">{{element.name}}</h4>
                        <div>
                            {{(element.description.slice(0,150))}}
                            <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Read more...</button>



                        </div>

                    </div>
                </div> -->
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="text-center">Today's Special</h5>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let element of special.slice().reverse()">
                            <h5 class="card-title text-center">{{element.name}}</h5>
                            <p class="card-text">
                                {{(element.description.slice(0,150))}}
                                <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Read more...</button>
                            </p>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of today's special -->
<br>
<!-- <mat-divider></mat-divider> -->
<br>




<!-- start cards -->

<div class="container">

    <div class="row align-items-center">

        <div class="col-md-4">
            <mat-card>
                <img mat-card-image src="../../assets/need_help.jpeg">
                <mat-card-content>
                    <h6 class="text-center">Our HHO will help you</h6>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                </mat-card-content>
                <p class="text-center">
                    <a href="/post">
                        <button mat-stroked-button>Click</button>

                    </a>
                </p>
            </mat-card>
        </div>

        <div class="col-md-4">
            <mat-card>
                <img mat-card-image src="../../assets/images/fundraisingbanner.jpg">
                <mat-card-content>
                    <h6 class="text-center">Donate to HHO</h6>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of .
                    </p>
                </mat-card-content>
                <p class="text-center">

                    <a href='https://www.payumoney.com/paybypayumoney/#/8B6B81661DBCC26F4069EFA2A1278FF7'>
                        <button mat-stroked-button [routerLink]="['/#']" routerLinkActive="router-link-active">Donate</button>
                    </a>

                </p>
            </mat-card>
        </div>

        <div class="col-md-4">
            <mat-card>
                <img mat-card-image src="../../assets/images/Achievement.jpg" style="height: 179px;">
                <mat-card-content>
                    <h6 class="text-center">Achievements</h6>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of .
                    </p>
                </mat-card-content>
                <p class="text-center">

                    <a href="/achievements">
                        <button mat-stroked-button>Click</button>

                    </a>
                </p>
            </mat-card>

        </div>
    </div>

</div>

<!-- end of cards -->
<br>
<!-- <mat-divider></mat-divider> -->





<!-- corosal -->

<div>
    <h5 class="text-center">News Articals</h5>
</div>
<div class="container">
    <div class="row">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-none d-lg-block">
                        <div class="slide-box">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                            <img src="../../assets/images/news/news1.jpg" alt="First slide">
                            <img src="../../assets/images/news/news2.jpeg" alt="First slide">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                        </div>
                    </div>
                    <div class="d-none d-md-block d-lg-none">
                        <div class="slide-box">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                            <img src="../../assets/images/news/news1.jpg" alt="First slide">
                            <img src="../../assets/images/news/news2.jpeg" alt="First slide">
                        </div>
                    </div>
                    <div class="d-none d-sm-block d-md-none">
                        <div class="slide-box">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                            <img src="../../assets/images/news/news1.jpg" alt="First slide">

                        </div>
                    </div>
                    <div class="d-block d-sm-none">
                        <img src="../../assets/images/news/news0.jpg" alt="First slide">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-none d-lg-block">
                        <div class="slide-box">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                            <img src="../../assets/images/news/news1.jpg" alt="First slide">
                            <img src="../../assets/images/news/news2.jpeg" alt="First slide">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                        </div>
                    </div>
                    <div class="d-none d-md-block d-lg-none">
                        <div class="slide-box">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                            <img src="../../assets/images/news/news1.jpg" alt="First slide">
                            <img src="../../assets/images/news/news2.jpeg" alt="First slide">
                        </div>
                    </div>
                    <div class="d-none d-sm-block d-md-none">
                        <div class="slide-box">
                            <img src="../../assets/images/news/news0.jpg" alt="First slide">
                            <img src="../../assets/images/news/news1.jpg" alt="First slide">

                        </div>
                    </div>
                    <div class="d-block d-sm-none">
                        <img src="../../assets/images/news/news0.jpg" alt="First slide">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>





<!-- <mat-divider></mat-divider> -->

<!-- end of corosal -->
<br>
<!-- start of Adviosary pane -->
<h5 class="text-center">Advisors & Supporters</h5>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <mat-card style="background-color:lightgreen">
                    <p class="text-center">
                        <mat-card-header>
                            <div mat-card-avatar class=""></div>
                            <mat-card-title>Students</mat-card-title>
                            <mat-card-subtitle>IIIT Rk Valley,RGUKT-AP</mat-card-subtitle>
                        </mat-card-header>
                    </p>
                </mat-card>
            </div>
            <div class="col-sm-3">
                <mat-card style="background-color:lightgreen">

                    <p class="text-center">
                        <mat-card-header>
                            <div mat-card-avatar class=""></div>

                            <mat-card-title>Administration</mat-card-title>
                            <mat-card-subtitle>IIIT Rk Valley,RGUKT-AP</mat-card-subtitle>

                        </mat-card-header>
                    </p>

                </mat-card>
            </div>
            <div class="col-sm-3">
                <mat-card style="background-color:lightgreen">
                    <p class="text-center">
                        <mat-card-header>
                            <div mat-card-avatar class=""></div>
                            <mat-card-title> Staf</mat-card-title>
                            <mat-card-subtitle>IIIT Rk Valley,RGUKT-AP</mat-card-subtitle>
                        </mat-card-header>
                    </p>
                </mat-card>
            </div>
            <div class="col-sm-3">
                <mat-card style="background-color:lightgreen">
                    <p class="text-center">
                        <mat-card-header>
                            <div mat-card-avatar class=""></div>
                            <mat-card-title>Alumni</mat-card-title>
                            <mat-card-subtitle>IIIT Rk Valley,RGUKT-AP</mat-card-subtitle>
                        </mat-card-header>
                    </p>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!-- end ofAdviosary panel -->
<br>
<mat-divider></mat-divider>










<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngFor="let element of special.slice().reverse()">
                <div class="modal-header">
                    <h4 class="modal-title">{{element.name}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    {{element.description}}
                </div>




            </div>
        </div>
    </div>
</div>




<!-- hhos calander -->
<!-- Button trigger modal-->


<!--Modal: modalRelatedContent-->
<div class="modal fade right" id="modalRelatedContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">Events's Calender</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=chilakurikarthikeya%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FKolkata" style="border:solid 1px #777"
                    width="100%" height="400" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalRelatedContent-->
<!-- end of hhos calender -->