/* .carousel-inner img {
    width: 100%;
    height: 10%;
} */


/* .gallery {
    width: 10%;
    height: 10%;
} */


/* .image_slide {
    width: 100%;
    height: 500px;
} */

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.btn {
    padding-top: 10px;
    width: 200px;
    height: 70px;
}


/* signin */


/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} */


/* .dropdown {
    position: relative;
    padding-left: 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
} */


/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

.view,
body,
html {
    height: 100%
}

.carousel {
    height: 50%
}

.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
    height: 100%
}

@media (max-width:776px) {
    .carousel {
        height: 100%
    }
}

.navbar {
    background-color: rgba(0, 0, 0, .2)
}

.page-footer,
.top-nav-collapse {
    background-color: #929FBA
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #929FBA
    }
}


/* home cards */

.fh5co-portfolio {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.fh5co-portfolio>a {
    width: 100%;
    float: left;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.fh5co-portfolio>a:hover {
    webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}

.fh5co-portfolio>a:hover .desc {
    opacity: 1;
}

.fh5co-portfolio .portfolio-entry {
    width: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

@media screen and (max-width: 768px) {
    .fh5co-portfolio .portfolio-entry {
        height: 400px;
    }
}

.fh5co-portfolio .portfolio-entry .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    padding: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-portfolio .portfolio-entry .desc p {
    color: #8f989f;
}

.fh5co-portfolio .portfolio-text {
    width: 100%;
    float: left;
    padding: 20px;
}

.fh5co-portfolio .portfolio-text h3 {
    font-size: 20px;
}

.fh5co-portfolio .portfolio-text .stuff {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
}

.fh5co-portfolio .portfolio-text .stuff li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.fh5co-portfolio .portfolio-text .stuff li:first-child {
    margin-left: 0;
}

.fh5co-portfolio .portfolio-text .stuff li i {
    font-size: 14px;
    padding-right: 5px;
}


/* home cards */


/* material card */

.facebook-button {
    background: url('https://2.bp.blogspot.com/-lFFvYHv-Z8w/WAOFS0P5FdI/AAAAAAAAF68/Aiv0D5NkUKIbL3_6G42LZm1iQ6co1tmgACLcB/s320/facebook-16px.png') left center no-repeat;
    padding-left: 15px;
}

.btn_need {
    background: url('../../assets/hho_logo.jpeg') left center no-repeat;
    padding-left: 15px;
}


/* corosal */

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.blog .carousel-indicators .active {
    background: #707070;
}


/* end corasl */

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.col-md-3 img {
    width: 100%;
    height: auto;
}

body .carousel-indicators li {
    background-color: red;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    background-color: red;
}

body .no-padding {
    padding-left: 0;
    padding-right: 0;
}


/* end corasal */

.card {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .16), 0 0px 0px 0 rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
}


/* start of news article */

body {
    padding-top: 20px;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}


/* end of news article */


/* start of home slider */

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/* end of home slider */