<br><br><br>
<div class="container">
    <div class="card">
        <div class="card-header">
            Achievements Upload
        </div>
        <div class="card-body">
            <form [formGroup]="achieveForm" (ngSubmit)="onpost()">
                <img [src]="url" height="200"> <br/>
                <h5 class="card-title">Select a file for upload:</h5>
                <input type="file" (change)="upload($event)" accept=".png,.jpg" required/>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                    File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>


                    <!-- <div class="md-form">
                            <input type="text" class="form-control" formControlName="doc_path" [ngClass]="{'is-invalid': submitted && f.doc_path.errors}" value="{{downloadSrc}}" required>
                        </div> -->


                </div>

                <!-- <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                url:<input type="text" value={{imageurl}} [(ngModel)]="imageurl" formControlName="imageUrl" [ngClass]="{'is-invalid': submitted && f.imageUrl.errors}" required> -->
                <br>
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" [ngClass]="{'is-invalid': submitted && f.name.errors}" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Problem Name" formControlName="problem" [ngClass]="{'is-invalid': submitted && f.problem.errors}" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Amount Donated" formControlName="amount_donated" [ngClass]="{'is-invalid': submitted && f.amount_donated.errors}" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Date Of donating" formControlName="date_of_donating" [ngClass]="{'is-invalid': submitted && f.date_of_donating.errors}" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <p class="">
                    <button mat-flat-button color="primary">Post</button>
                </p>

            </form>

        </div>
    </div>
</div>